/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    text-align: center;
    padding: 1rem 0;

}

.site-title {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -1px;
    color: $grey-color-dark;
    text-align: center;

    &,
    &:hover {
        text-decoration: none;
    }

}



#right {
  text-align: center;
}

.site-link {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: $brand-color;

    &,
    &:hover {
        text-decoration: underline;
    }

    @include media-query($on-palm) {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: -0.5px;
        color: $brand-color;

        &,
        &:hover {
            text-decoration: underline;
        }
    }
}

.post_list {

  ul {
  list-style-type: none;
  }

}


/**
 * Page content
 */
.page-content {
    position: relative;
    max-width: 48rem;
    padding: $spacing-unit ($spacing-unit * 0.75);
    margin: 0 auto;
    box-sizing: border-box;
}



/**
 * Pages
 */
.home {
    section + section {
        margin-top: $spacing-unit;
    }
}

.smallcap {
    text-transform: lowercase;
    font-variant: small-caps;

    &::first-letter {
        text-transform: uppercase;
    }
}

.post-list > li {
    margin-bottom: $spacing-unit / 4;

    @include media-query($on-palm) {
        time {
            display: block;
            font-size: $small-font-size;
        }
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-content {
    margin-bottom: $spacing-unit;

    h1, h2, h3,
    h4, h5, h6 {
        margin-top: 2rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
        color: #3B3B3C;
    }

    h5 {
        font-size: 1.2rem;
        color: #717172;
    }

    h6 {
      font-size: 1.15rem;
      color: #717172;
    }

    blockquote {

        @include media-query($on-palm) {
            color: $grey-color;
            padding-left: $spacing-unit * 0.7;
            padding-top: 0.7em;
            padding-bottom: 0.7em;
            border-left: 2px solid #8E8D8F;
            font-style: italic;
            font-size: 17px;
            font-family: "Times";
            margin-left: 3rem;
            margin-right: 3rem;

            > :last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* new things when making blog... */


.front_links {

  font-size: 20px;
  letter-spacing: -1px;

}

.tag_form {

  text-decoration: none;
  text-align: center;
  font-style: italic;
  color: #89888A;

}

.tag_style {

  color: #89888A;
  text-decoration: none;

}


.black {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
