<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
      <div class="site-header">
        <div>
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div>
          <i>{{ site.bliss_phrase }}</i>
        </div>
        <nav id="right">

          {% for item in site.data.prof_links.structure %}
            {% if item.show == true %}
              <a class="site-link" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
            {% endif %}
          {% endfor %}

        </nav>
      </div>

    </header>
    <div class="page-content">
      {{ content }}
    </div>
    {% include mathjax.html %}
  </body>
</html>
